*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: ;
}

.header_h {
	margin-top: 50px;
	text-align: center;
}

.header_h > a{
	text-decoration: none;
	font-weight: 900;
	color: black;
}

.common_a {
	text-decoration: none;
	color: black;
}

.list_wirte {
	text-align: right;
}

main {
	width: 800px;
	text-align: center;
	margin: 0 auto;
}

.commontitle {
	margin-top: 50px;
	font-size: 3rem;
	font-weight: bolder;
	text-align: center;
}