.tran {
    text-transform: capitalize;
    text-transform: uppercase;
    text-transform: lowercase;
}

.spacing {
    letter-spacing: 3em;
}

.w_spacing {
    word-spacing: 10px;
}

.shadow {
    text-shadow: -5px -5px 5px #ff6904;
}