/* 선 굵기, 선 모양, 색상 */
table {
    border: 1px solid #000;
    border-collapse: collapse;
    caption-side: bottom;
    /* border-spacing: 20px 15px; */
}

th, td {
    border: 1px dotted #000;
    width: 100px;
}