a {
    color: burlywood;
}

a:link {
    color: blueviolet;
}

a:visited {
    color: blue;
}

a:hover {
    background-color: cornflowerblue;
}

#input-1:focus {
    outline: none;
    border: 5px solid yellow;
}

input:checked + label {
    color: orange;
}

#target-1:target {
    background-color: red;
}

/* .container :nth-child(4) {
    color: yellow;
} */
.container p:nth-of-type(2) {
    color: yellow;
}

.container :not(p) {
    color: chartreuse;
}

#label-2::before {
    content: '중요';
    color: aqua;
}

.korean-2::first-line {
    background-color: black;
}