.container {
    background-color: gray;
    margin: 10px;
    width: 60vw;
    height: 60vh;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    /* justify-content: space-around; */
    align-items: flex-end;
}

.item {
    width: 15vw;
    height: 15vh;
    background-color: skyblue;
    border: 1px solid #000;
}