.container {
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    /* grid-template-rows: 50px 50px; */
}

.item {
    background-color: cadetblue;
}