header {
    background-color: aqua;
    width: 800px;
    height: 100px;
}

.side_1 {
    background-color: antiquewhite;
    width: 200px;
    height: 500px;
    float: left;
}

article {
    background-color: skyblue;
    width: 400px;
    height: 500px;
    float: left;
}


.side_2 {
    background-color: antiquewhite;
    width: 200px;
    height: 500px;
    float: left;
}

footer {
    clear: both;
    background-color: blueviolet;
    width: 800px;
    height: 100px;
}
