* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: black;
}

header {
	margin-top: 100px;
	font-size: 50px;
	line-height: 200px;
	text-align: center;
}

.list_main {
	margin-top: 30px;
	margin: 0 auto;
	width: 1000px;
	text-align: center;
}

.list_btn {
	margin-left: 85%;
}

.list_th, .list_td {
	border-bottom: 1px solid black;
	border-collapse: collapse;
}

.insert_main {
	width: 600px;
	height: 700px;
	border: 1px solid none;
	background-color: rgb(197, 225, 241);
	border-radius: 20px;
	padding: 40px;
	margin: 0 auto;
	margin-top: 30px;
}

.insert_div {
	margin-left: 75%;
}

.detail_div {
	margin-left: 60%;
}