@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
	box-sizing: border-box;
}

body {
	margin : 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

header {
	width: 100%;
	line-height: 300px;
	background-image: url(../img/company.jpg);
	background-size: cover;
} 

header > h1 {
	margin: 0px;
	text-align: center;
	font-size: 3rem;
	font-family: 'Diphylleia', serif;
	font-family: 'Young Serif', serif;
}

.list_m {
	margin: 0px auto;
	width: 900px;
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 3fr 1fr 1fr;
}

.list_in {
	width: 120px;
	height: 30px;
}

.list_t {
	border-collapse: collapse;
	width: 700px;
	font-size: 1.5rem;
	border: none;
	color: black;
	font-size: large;
	text-align: center;
	line-height: 40px;
	border-top: 3px solid darkgray;
	border-bottom: 1px solid lightgray;
	margin: 100px auto;
	grid-column: 1/3;
	grid-row: 1/2;

}

.list_tr {
	font-weight: bold;
	background-color: lightgray;
}

.list_td {
	border-top: 1px solid lightgray;
}

.list_s {
	text-align: center;
	grid-column: 1/3;
	grid-row: 2/3;
}

section > a {
	background-color: ghostwhite;
	color: black;
	padding: 10px;
}

.list_m>a {
	box-sizing: border-box;
	width: 95px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: orangered;
	border: 1px solid lightgray;
	font-weight: bold;
	color: white;
	display: inline-block;
	grid-column: 2/3;
	grid-row: 3/4;
}

.detail_m {
	margin-top: 100px;
	width: 500px;
	height: 500px;
	background-color: rgb(241, 241, 241);
	border: none;
}

.detail_t {
	padding: 30px;
}

.detail_tr {
	line-height: 60px;
	background-color: white;
}

.detail_a {
	margin-top: 80px;
}