* {
	box-sizing: border-box;
}

body {
	margin : 0;
	padding: 0;
}


header {
	margin: 20px 0px;
	width: 100%;
	background-image: url(../img/pacon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem;
} 

header > h1 {
	margin: 0px;
	text-align: center;
	font-size: 4rem;
}

header > a {
	color:white;
}

table {
	border-collapse: collapse;
	width: 700px;
	height: 500px;
	margin: 50px auto;
	font-size: 1.5rem;
	border-top: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
}

td {
	border-bottom: 1px solid darkgray;
	text-align: center;
	font-size: medium;
}

.table-title {
	border: none;
	background-color: rgba(254, 195, 140, 0.5);
	color: #fff;
	font-size: large;
}

section {
	text-align: center;
}

a {
	text-decoration: none;
	display: inline-block;
	color: #000;
}

.page-btn {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: beige;
	color: black;
}

.page-btn:hover {
	opacity: 80px;
}

.but:hover {
	opacity: 50px;
}

.hed {
	color: #000;
	font-weight: bold;
}